[Unit]
Description=lanyard
After=ngrok.target

[Service]
ExecStart=/usr/bin/python3 /opt/lanyard/lanyard-controller.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Type=simple
EnvironmentFile=/opt/lanyard/env.sh

[Install]
WantedBy=multi-user.target